.git
.github
.gitignore
.gitattributes
.editorconfig
.env
.env.*.local
!.env.example

vendor/
node_modules/

storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
bootstrap/cache/*.php

tests/
phpunit.xml
README.md
docs/
*.md
.claude/
